.cost
    display: flex
    justify-content: center
    align-items: center
    margin-top: 58px
    &__container
        width: 90%
        background: url("img/bg_13561.png") no-repeat center center
        background-size: contain;
    &__wrap
        display: flex
        justify-content: space-around
        align-items: center
    &__title
        margin: 0
        font-family: 'Roboto', sans-serif;
        font-size: 26px;
        line-height: 32px;
        font-weight: bold;
        color: #333333;
        margin-bottom: 26px
    &__subtitle
        margin: 0
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        line-height: 24px;
        font-weight: 300;
        color: #666666;
        margin-bottom: 24px
    &__btn
        display: flex
        justify-content: center
        align-items: center
        text-decoration: none
        width: 200px;
        height: 51px;
        border-radius: 25px;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        line-height: 42px;
        font-weight: 100;
    &__btn_one
        background-image: linear-gradient(0.0deg, #ff7500 0%, #ffa600 100%);
        color: #fff
        margin-right: 11px
    &__btn_two
        border: 2px solid #ff8a00;
        color: #000
    &__button
        display: flex
    